/* Common Styles */
.step-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-image {
  width: 100%;
  position: relative;
}

.info-image img {
  width: 100%;
  height: auto;
}

/* Mobile Layout */
.mobile-layout .mobile-steps {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  position: absolute;
  bottom: calc(100% - 3.5rem);
  width: 100%;
  padding: 0 1rem;
}

.mobile-steps .step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--sky-blue-color);
  background-color: transparent;
  color: var(--white-color);
}

.step-content {
  width: 90%;
  max-width: 768px;
  min-height: 566px;
  margin-top: -5rem;
  position: relative;
  z-index: 1;
  background: var(--white-color);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
